<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact-Info</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<body>
    <div class="container">
        <h1>Contact Management</h1>
        <table id="customers" border="1">
            <thead>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Created Time</th>
                <th colspan="2" id="mid">Action</th>
            </thead>
            {% for x in mem %}
            <tr>
                <td><a href="contact/{{x.id}}">{{x.firstname}}</a></td>
                <td>{{x.num}}</td>
                <td>{{x.email}}</td>
                <td>{{x.createdTime}}</td>
                <td>
                    <a href="update/{{x.id}}"><button id="up">Update</button></a>
                </td>
                <td>
                    <a href="delete/{{x.id}}"><button id="del">Delete</button></a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br><br>
        <a href="{% url 'add' %}"><button id="new3">Add Contact</button></a>
    </div>
</body>
<footer id="foot">
  <hr>
  <p id="copyright">©Created by Gaurav Salvi.</p>
</footer>

</html>